---
import '../styles/global.css' 

import '@fontsource-variable/onest';

import Nav from '../components/Nav.astro'
import Footer from '../components/Footer.astro'
---


<!doctype html>
<html lang="es">
	<head>

		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />

    <title>web template</title>

		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <meta name="description" content="web template description">
    
    <meta property="og:title" content="Web Template">
    <meta property="og:description" content="Web Template description">
    <meta property="og:image" content="web Template image"> 
	</head>
	<body>

    <header>
      <Nav/>
    </header>


    <main>
      <slot />
    </main>


      <Footer />
	</body>
</html>
<style>

body {
  font-family: 'Onest Variable', sans-serif;
}

</style>


